@model CuentasModel;
@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mt-5">
    <div class="card-header">
        <h2 class="text-center">Crear Cuenta</h2>
    </div>
    <form asp-action="Crear" asp-controller="Cuenta" method="post">
        <div class="card-body">
            <div class="mb-3">
                <label class="form-label">Seleccione el tipo de cuenta: </label>
                <select asp-for="Tipo" class="form-select">
                    <option value="ARG">En Pesos (ARG)</option>
                    <option value="USD">En Dólares (USD)</option>
                    <option value="BTC">En Bitcoins (BTC)</option>
                </select>
            </div>

        </div>
        <div class="card-footer">
            <button asp-action="Crear" asp-controller="Cuentas" class="btn btn-primary">Editar Datos</button>
            <a asp-action="Lista" asp-controller="Cuentas" class="btn btn-outline-success">Volver a Lista de Cuentas</a>
        </div>
    </form>
</div>

